<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712216439759-8dvu6k47thlpqpacsujmakssgasms58v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712216439759-8dvu6k47thlpqpacsujmakssgasms58v</string>
	<key>API_KEY</key>
	<string>AIzaSyDMLAP_3HZwl7_C8SU3Qq-nOZGaNOmbisc</string>
	<key>GCM_SENDER_ID</key>
	<string>712216439759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chagmn.SwiftStudyWiKi</string>
	<key>PROJECT_ID</key>
	<string>spotify-login-sample-app-2a939</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-login-sample-app-2a939.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712216439759:ios:5c761287da39310f5ec0ba</string>
</dict>
</plist>